
/* .title{
    font-size: 50px;
    text-align: center;
} */

/* #Map{
    border: 5px solid black;
    margin-left: 100px;
    /* position: relative; */
/* } */

/* .spacePort{
    position: absolute;
    background-color: blueviolet;
    height: 100px;
    width: 51px;
    margin-top: -150px;
    margin-left: 100px;
    background-image: url(../img/door.PNG);
    background-repeat: no-repeat;
    background-size: contain;
} */

#canvas_map{
    border: 1pt solid black;
    border-style: dashed;
}
